<!DOCTYPE html>
<head>
    <title>our website</title>
</head>

<body style="background-color: blue">
    <centre>
        <h1 style="background-color: red; color:white">welcome to 02 innovations</h1>
    </centre>
    <p><b>learing</b> at 02 innovations</b> <i>learing at 02 innovations</i> <b><i>learing at 02 innovations</i></b> learing 1<b><sup>st</sup></b> at 02 innovations drinking H<sub>20</sub> at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovationslearing at 02 innovations

    </p>
<a href="https://www.google.com" target="_blank">click me</a>
</body>

</html>